<div class="vd_content-wrapper">
  <div class="vd_container">
    <div class="vd_content clearfix">

      <div class="vd_title-section clearfix">
        <div class="vd_panel-header">
          <h1>Навчайтеся з нами</h1>
          <small class="subtitle">Проходьте тести та слідкуйте за своїм прогресом</small>
        </div>
      </div>

      <div class="vd_content-section clearfix">
        <div class="row">

          <div class="col-xs-12" >
            <div class="panel widget light-widget">
              <div class="panel-heading no-title">

              </div>
              <div class="panel-body">

                <ul class="pagination" *ngIf="listTask.length > 0">
                  <li *ngFor="let test of listTask let i = index">
                    <a style="color: green;" *ngIf="test.end == true" (click)="openTest(i)" class="active"><b>{{i+1}}</b></a>
                    <a style="" *ngIf="test.end != true" (click)="openTest(i)" class="active"><b>{{i+1}}</b></a>
                  
                  </li>
                </ul>

                <div class="row">
                  <div class="col-md-6">
                    <div *ngFor="let question of this.listQuestion, let indexQ = index">
                      <h5><b>{{indexQ + 1}}.</b> {{ question.question }}</h5>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div *ngFor="let answer of this.listAnswer, let indexA = index">                   
                      <h5><b>{{ upper[indexA] }}.</b> {{answer.text}}</h5>
                    </div>          
                  </div>
                </div>
                

              
                <div *ngIf="test != null">
                  <div *ngIf="test.end == null">
                    <div class="col-md-5">
                      <table class="table">
                        <tr>
                          <th  style="text-align: center;" scope="col">№</th>
                          <th  style="text-align: center;" *ngFor="let item of listAnswer; let i = index" scope="col">{{ upper[i] }}</th>
                        </tr>

                        <tr *ngFor="let question of this.listQuestion, let indexQ = index">
                          <th>
                            <h5 style="padding: 5px"><b>{{indexQ + 1}}.</b></h5>
                          </th>
                          <th style="text-align: center;" *ngFor="let answer of question.answer,  let indexA = index">
                            <div style="text-align: center; border: 2px solid rgba(0,0,0,0.29); height: 25px; width: 25px; text-align: center" class="brd">

                              <div style="text-align: center;" (click)="setOtvet(question, indexQ, answer, indexA)" *ngIf="answer != null">
                                <img height="14px" src="static/img/yes.png" alt="">
                              </div>

                              <div style="text-align: center;" style="height: 22px; width: 22px;" (click)="setOtvet(question, indexQ, answer, indexA)" *ngIf="answer == null">
                                
                              </div>
                            
                            </div>
                          </th>
                        </tr>
                      </table>
                      <h5 style="color: red;">{{text}}</h5>
                      <hr>
                      <a (click)="saveTest()">Зберегти</a>
                    </div>          
                    </div>
                </div>  

                <div *ngIf="test != null">
                  <div *ngIf="test.end != null">
                    <div class="col-md-5">
                      <table class="table">
                        <tr>
                          <th style="text-align: center" scope="col">№</th>
                          <th style="text-align: center" *ngFor="let item of listAnswer; let i = index" scope="col">{{ upper[i] }}</th>
                        </tr>

                        <tr *ngFor="let question of this.listQuestion, let indexQ = index">
                          <th>
                            <h5 style="padding: 5px"><b>{{indexQ + 1}}.</b></h5>
                          </th>
                          <th *ngFor="let answer of question.correctAns,  let indexA = index">
                            <div style="border: 2px solid rgba(0,0,0,0.29); height: 25px; width: 25px; text-align: center" class="brd">

                              <div *ngIf="question.answer[indexA] == null && question.question == answer.question && answer.correct == true">
                                <img height="14px" src="static/img/yes.png" alt="">
                              </div>
                              <div *ngIf="question.question == answer.question && answer.correct == true && question.answer[indexA] != null ">
                                <img height="14px" src="static/img/yes.png" alt="">
                              </div>

                              <div *ngIf="question.answer[indexA] != null && question.question != answer.question && answer[indexA] != true">
                                <img height="14px" src="static/img/no.png" alt="">
                              </div>
                            
                            </div>
                          </th>
                        </tr>
                      </table>
                      <hr>
                      <a *ngIf=" listTask.length > activeMyTest + 1" (click)="nextTest()">Наступне</a>
                    </div>

                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
